doctype html
html(lang="en")
    include mixins/head.pug
    include mixins/header.pug
    include mixins/skills.pug 
    include mixins/projects.pug 
    include mixins/contact.pug
    include mixins/footer.pug
    script(src='./index.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")



