section.projects#projects
  h1 Projects
   .container
    article.project
      img(src='./images/portfolio1.jpg' alt='')
      span Personal Website/Portfolio
      p  Focus: Html5\CSS3\ Javascript 
      p  Personal website built with javascript. The server side rendered single page application should provide an unobstrusive UI and communicate clearly and coherently a suitable range of relevant information about myself
      a.btn(href='project.html') Live 
      a.btn(href='project.html') Code
    article.project
      img(src='./images/dev_1.jpg' alt='')
      span Projects 2 /project Name
      p Focus: React\ CSS3
      p  Personal website built with React. The server side rendered single page application should provide an unobstrusive UI and communicate clearly and coherently a suitable range of relevant information about the product.
      a.btn(href='project.html') Live
      a.btn(href='project.html') Code
    article.project
      img(src='./images/dev_1.jpg' alt='')
      span Project3 2 / project  Name
      p Focus: Html5\CSS3\ Javascript
      p Project website built with javascript. The server side rendered single page application should provide an unobstrusive UI and communicate clearly and coherently a suitable range of relevant information about the product.
      .button 
       a.btn(href='project.html') Live
       a.btn(href='project.html') Code