section.skills#skills
  .container.skills__container
    .skills__left
      h1 Skills 
      p  I am developing frontend and backend applications using responsibly state of the art technologies to create meaningful and effortless user experiences that bring about the best of our users.
      a.btn.btn-primary(href='#projects') View my projects
    .skills__right
      article.skill
        span.skill__icon
         i.uil.uil-brackets-curly  
        h2 CSS
      article.skill
        span.skill__icon
         i.uil.uil-html3 
        h2 HTML5 
      article.skill
        span.skill__icon
         i.uil.uil-brackets-curly
        h2  Sass 
      article.skill
        span.skill__icon
         i.uil.uil-java-script 
        h2  Javascript
      article.skill
        span.skill__icon
         i.uil.uil-brackets-curly 
        h2  Node
      article.skill
        span.skill__icon
         i.uil.uil-react.circle
        h2 React