$color-primary: #A3A3A3; 
$color-success: #00bf8e; 
$color-warning: #f7c94b; 
$color-danger: #f75842; 
$color-danger1: #cc2d18;
$color-dabger-variant: rgba(247, 88, 66, 0.4); 
$color-white: #fff; 
$color-light: rgba(255, 255, 255, 0.7); 
$color-black: #000; 
$color-bg: #1e1f20; 
$color-bg1: #212123; 
$color-bg2: #525252; 


$container-wigth-lg: 76%;
$container-wigth-md: 90%;
$container-wigth-sm: 94%;

$transition:all 400ms ease ;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
$font-family: 'Open Sans', sans-serif;

